{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static "css/easy.css" %}">
        <link rel="stylesheet" href="{% static "css/mighty.css" %}">
        <link rel="stylesheet" href="{% static "css/dark.css" %}">
        {% block file_css %}{% endblock %}
        <style>
        {% block css %}{% endblock %}
        </style>
    </head>
    <body id="daddy" class="dark">
        {% include "mighty/includes/navigator.html" %}
        <div class="m-a">{% block content %}{% endblock %}</div>
        {% block template %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        {% block file_js %}{% endblock %}
        <script>
        {% if user.is_authenticated %}
        var navuser = document.getElementById('navuser');
        document.addEventListener("click", function(evt){
            var flyoutElement = document.getElementById('usernav'), targetElement = evt.target;
            if (targetElement == flyoutElement && navuser.style.display != "block") {
                navuser.style.display = "block";
            }else {
                navuser.style.display = "none";
            }

        });
        {% endif %}

        {% block js %}{% endblock %}
        </script>
    </body>
</html>