{% load static %}
<div>
    <div class="usernav">
        <a href="#" id="usernav" for="toto">
            <img src="{% static "img/avatar.svg" %}" alt="Person" width="96" height="96">
            {{ user.first_name }}&nbsp;{{ user.last_name }}
            <span class="closebtn" onclick="this.parentElement.style.display='none'"><i class="fas fa-caret-down"></i></span>
        </a>
        <div class="clr"></div>
        <nav id="navuser" class="d-bl-ch">
            <a href="/">Dashboard</a>
            <hr>
            <a href="/accounts/profile/">Profile</a>
            <a href="#">Messagerie</a>
            <hr>
            <a href="/accounts/logout/">Se déconnecter</a>
        </nav>
    </div>
</div>