babel==2.9.1
redis==4.0.2
pillow==8.4.0
channels==3.0.4
channels-redis==3.3.1
django-jsonfield==1.4.1
django-json-widget==1.1.1
python-magic==0.4.24
python-dateutil==2.8.2
pdfkit==1.0.0
-r applications/address/requirements.txt
-r applications/user/requirements.txt
-r applications/messenger/requirements.txt
-r applications/shop/requirements.txt
