{% extends "mighty/includes/base.html" %}

{% block content %}
<div class="login-wrap">
    <h2>{{ mighty.login }}</h2>
    <form class="form" method="post">{% csrf_token %}
        {% include "mighty/message.html" with message=message_email level="info" %}

        {% for error in form.non_field_errors %}
        {% include "mighty/message.html" with message=error level="alert" %}
        {% endfor %}

        {% for error in form.password.errors %}
        {% include "mighty/message.html" with message=error level="alert" %}
        {% endfor %}
        <input type="password" placeholder="{{ howto }}" name="{{ form.password.name }}" id="myPassword">
        <label><input type="checkbox" onclick="togglePassword()"><span>&nbsp;Show code</span></label>
        <button>{{ submit }}</button>
    </form>
    <div class="links">
        <a href="#"><p>{{ help }}</p></a>
    </div>
</div>
{% endblock %}

{% block js %}
function togglePassword() {
    var x = document.getElementById("myPassword");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
}
{% endblock %}