{% extends "mighty/authenticate/login.html" %}
{% load mighty %}

{% block title %}
<h1 class="pg-tp-px20">{{ header.title }}</h1>
{% endblock %}  

{% block form %}
<form class="signin mg-tp-px20" method="post">{% csrf_token %}
    {% if form.non_field_errors %}<div class="tx-al-left pg-bt-px20">{{ form.non_field_errors }}</div>{% endif %}

    <div class="tx-al-center">
        <label for="{{ form.password.id_for_label }}" class="dp-block mg-bt-px5 pg-rg-px20">{{ howto }}</label>
        {% with attr="class:wt-pr100 mx-wt-px500 lh-px25,placeholder:"|add:form.password.help_text|safe %}
        {{ form.password|add_attr:attr }}
        {% endwith %}
    </div>

    <div class="pgy-px10 tx-al-center">
        <button class="pg-px10-ch md-wt-pr100" type="submit" name="Submit">
            <i class="fas fa-sign-in-alt">&nbsp;</i>{{ submit }}
        </button>
    </div>

</form>
{% endblock %}