{% extends "mighty/includes/base.html" %}
{% load mighty static %}
{% block css %}

{% endblock %}

{% block content %}
<div class="login-wrap">
    <h2>{{ mighty.login }}</h2>
    <form class="form" method="post">{% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alerts">
            <div class="message">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>
            <span class="close" onclick="this.parentElement.style.display='none';">&times;</span> 
        </div>
        {% endif %}
        {% if form.search.errors %}
        <div class="alerts">
            <div class="message">
                {% for error in form.search.errors %}
                {{ error }}
                {% endfor %}
            </div>
            <span class="close" onclick="this.parentElement.style.display='none';">&times;</span> 
        </div>
        {% endif %}
        <input type="text" placeholder="{{ form.search.label }}" name="{{ form.search.name }}" />
        <div class="send">
            {% if enable_basic %}
            <button class="" type="submit" name="method" value="basic">
                <i class="fas fa-keyboard">&nbsp;</i>{{ method_basic|title }}
            </button>
            {% endif %}
            {% if enable_sms %}
            <button class="d-flex" type="submit" name="method" value="sms">
                <i class="fas fa-mobile-alt">&nbsp;</i>{{ method_sms|title }}
            </button>
            {% endif %}
            {% if enable_email %}
            <button class="" type="submit" name="method" value="email">
                <i class="fas fa-at">&nbsp;</i>{{ method_email|title }}
            </button>
            {% endif %}
        </div>
    </form>
    <div class="links">
        <a href="#"><p>Don't have an account? Register</p></a>
        <a href="#"><p>Forget my account</p></a>
    </div>
</div>
{% endblock %}