{% extends "mighty/ajax/list.html" %}
{% block template %}
<script id="template-{{ opts.model_name }}" type="text/x-handlebars-template">
[[#each datas]]
<a href="[[detail_url]]" class="links dp-block mg-bt-px5 tx-dc-none c-white va-middle va-middle-rs">
    <article class="dp-flex pg-px5">
        <div class="avatars wt-px100 ht-px100" style="background-image: url('[[image_url]]')"></div>
        <div class="wt-pr100 pgx-px5 pg-lf-px20">
            <h2>[[username]]</h2>
            <p>[[email]]</p>
            <p>[[first_name]]&nbsp;[[last_name]]</p>
            [[#if last_login]]<p class="tx-al-right">Last connection: [[last_login]]</p>[[/if]]
        </div>
    </article>
</a>
[[/each]]
</script>
{% endblock %}