{% extends "admin/base_site.html" %}
{% load i18n mighty admin_urls %}

{% block extrastyle %}
{{ block.super }}
<style>
#result_list {
    width: 100%;
}
</style>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} changes-logs{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
&rsaquo; {% verbose_name_plural fake %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
<div class="module">
{% if logs %}
    <table id="change-history">
        <thead>
        <tr>
            <th scope="col">{% field_name fake 'field' %}</th>
            <th scope="col">{% field_name fake 'value' %}</th>
            <th scope="col">{% field_name fake 'date_begin' %}</th>
            <th scope="col">{% field_name fake 'date_end' %}</th>
            <th scope="col">{% field_name fake 'user' %}</th>
        </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <th scope="row"><a href="{% url optslog|admin_urlname:'change' log.pk|admin_urlquote %}">{{ log.field }}</a></th>
                <td>{{ log.get_value }}</td>
                <td>{{ log.date_begin }}</td>
                <td>{{ log.date_end }}</td>
                <td>{{ log.user }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p></p>
{% endif %}
</div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if logs.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ logs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ logs.number }} of {{ logs.paginator.num_pages }}.
        </span>

        {% if logs.has_next %}
            <a href="?page={{ logs.next_page_number }}">next</a>
            <a href="?page={{ logs.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
