{% extends "admin/base_site.html" %}
{% load i18n static mighty admin_urls %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/easy.css" %}">
<style>
article { padding: 5px 15px; width: calc(100% / 3); }
article * { vertical-align: middle;}
table { width: 100%; }
.warning { white-space: pre; }
.progress { width: 100%; background-color: #ddd; }
.state { height: 30px; background-color: #4CAF50; text-align: center; line-height: 30px; color: white; }
@media (max-width: 768px) {
    article { width: 100%; padding: 0px; }
}
</style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{{ mighty.home }}</a>
&rsaquo; <a href="{% url 'admin:supervision' %}">{{ supervision|title }}</a>
&rsaquo; <a href="{% url 'admin:supervision_channel_list' %}">Chat</a>
&rsaquo; {{ room }}
</div>
{% endblock %}

{% block content %}
<div id="channel-history">
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/mighty.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
<script>
    var ws = new Mwebsocket();
    ws.receive = function(e) {
        var history = document.getElementById('channel-history');
        var p = document.createElement('div');
        p.textContent = e.data;
        history.append(p);
    }
    setTimeout(function() {
        alert('ok');
        ws.send('supervision.join', {channel: '{{ room }}'});
    }, 5000);
</script>
{% endblock %}