{% extends "admin/change_form.html" %}
{% load admin_urls mighty %}

{% block extrastyle %}
{{ block.super }}
<style>
.disablelink {
    margin: 0 0 0 8px;
    background: coral!important;
}
.enablelink {
    margin: 0 0 0 8px;
    background: LimeGreen!important;
}
.submit-row {
    position: sticky;
    top: 0px;
    z-index: 10;
}
.inline-related {
    position: relative;
    margin: 20px 0;
    border: 1px solid #79aec8;
    overflow-x: scroll;
}
.anticipatelink {
    background-color: rgb(114, 139, 216)!important;
}
.anticipatelink:hover {
    background-color: royalblue!important;
}
.sourcelink {
    background-color: rgb(186, 79, 231)!important;
}
.sourcelink:hover {
    background-color: darkviolet!important;
}

.submit-row.form-list {
    text-align: left;
}

</style>
{% endblock %}

{% block object-tools-items %}
{% if original.cache %}
{% url opts|admin_urlname:'cache_field' original.pk|admin_urlquote as cache_url %}
<li><a href="{{ cache_url }}">Cache field</a></li>
{% endif %}
{% if original.logs %}
{% url opts|admin_urlname:'logs_field' original.pk|admin_urlquote as logs_url %}
<li><a href="{{ logs_url }}">Logs field</a></li>
{% endif %}
{% if original.timeline_model %}
{% url opts|admin_urlname:'timeline' content_type_id original.pk|admin_urlquote as timeline_url %}
<li><a href="{{ timeline_url }}">{% verbose_name_plural original.timeline_model %}</a></li>
{% endif %}
{% if original.source_model %}
{% url opts|admin_urlname:'source' original.pk|admin_urlquote as source_url %}
<li><a href="{{ source_url }}">{% verbose_name_plural original.source_model %}</a></li>
{% endif %}
{% if original.enable_model_change_log %}
{% url opts|admin_urlname:'modelchangelog' original.pk|admin_urlquote as modelchangelog_url %}
<li><a href="{{ modelchangelog_url }}">Model change logs</a></li>
{% endif %}
{% if original.model_activate_file %}
{% url opts|admin_urlname:'filemetadata' original.pk|admin_urlquote as filemetadata_url %}
<li><a href="{{ filemetadata_url }}">File meta data</a></li>
{% endif %}
{% if original.has_eve_variable_template %}
{% url opts|admin_urlname:'variables' original.pk|admin_urlquote as variables_url %}
<li><a href="{{ variables_url }}">Variables</a></li>
{% endif %}
{{ original.has_eve_variable_template }}
{{ block.super }}
{% endblock %}


{% block object-tools %}
{{ block.super }}
{% if original.can_use_task %}
<div class="submit-row form-list">
<form method="POST" action="{{ original.admin_task_url }}">
    {% csrf_token %}
    {{ original.form_task.as_table }}
    <input type="submit" value="Start">
</form>
</div>
{% endif %}

{% if original.can_do_reporting %}
<div class="submit-row form-list">
    <form method="POST" action="{{ original.admin_reporting_url }}">
        {% csrf_token %}
        {{ original.form_reporting }}
        <input type="submit" value="Download">
    </form>
</div>
{% endif %}
{% endblock %}
