{% extends "admin/index.html" %}
{% load i18n static %}

{% block extrastyle %}

{{ block.super }}
<style>
.input-filterv2{
  border: 1px solid var(--secondary);
  background: var(--body-bg);
  color: var(--body-loud-color);
  width: 100%;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 30px;
  outline: none;
}
</style>
{% endblock %}

{% block extrahead %}
<script>
window.filter_applist_element = "nav-sidebarv2";
window.filter_input_element = "nav-filterv2";
</script>
<script src="{% static 'admin/js/nav_sidebarv2.js' %}" defer></script>
{% endblock %}

{% block content %}
<div id="content-main">
  <input type="search" id="nav-filterv2" class="input-filterv2"
    placeholder="{% translate 'Start typing to filter…' %}"
    aria-label="{% translate 'Filter navigation items' %}">
    <div id="nav-sidebarv2">
    {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
    </div>
</div>
{% endblock %}

