{% load i18n %}
{% block extrastyle %}
<style>
.app-section {
    text-decoration: none;
    color: var(--header-link-color)!important;
    font-size: 1.2em;
    display: block;
    border-bottom : 1px solid var(--header-link-color);
    padding: 5px;
    margin-bottom: 5px;
}
.app-section:hover {
  color: var(--body-bg)!important;
  background-color: var(--header-link-color)!important;
}
</style>
{% endblock %}
test
{% if multi_app_list %}
  {% for app in multi_app_list %}
    <div class="app-{{ app.app_label }} module{% if app.app_url in request.path %} current-app{% endif %}">

      <a href="{{ app.app_url }}" class="app-section" title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">{{ app.name }}</a>

      </table>
        {% for parent,data in app.apps.items %}
        <table>
          <caption >
            <a href="{{ app.app_url }}?s={{ parent }}" class="section" >{{ parent }}</a>
          </caption>
        {% for model in data.models %}
        <tr class="model-{{ model.object_name|lower }}{% if model.admin_url in request.path %} current-model{% endif %}">
          {% if model.admin_url %}
          <th scope="row"><a href="{{ model.admin_url }}"{% if model.admin_url in request.path %} aria-current="page"{% endif %}>{{ model.name }}</a></th>
          {% else %}
          <th scope="row">{{ model.name }}</th>
          {% endif %}

          {% if model.add_url %}
          <td><a href="{{ model.add_url }}" class="addlink">{% translate 'Add' %}</a></td>
          {% else %}
          <td></td>
          {% endif %}

          {% if model.admin_url and show_changelinks %}
          {% if model.view_only %}
            <td><a href="{{ model.admin_url }}" class="viewlink">{% translate 'View' %}</a></td>
          {% else %}
            <td><a href="{{ model.admin_url }}" class="changelink">{% translate 'Change' %}</a></td>
          {% endif %}
          {% elif show_changelinks %}
            <td></td>
          {% endif %}
          </tr>
        {% endfor %}
        </table>
        <br/>
        {% endfor %}
    </div>
  {% endfor %}
{% else %}
  <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
