{% extends "admin/base_site.html" %}
{% load i18n static mighty admin_urls %}

{% block extrastyle %}
{{ block.super }}
<style>
.mail {
    margin: 0 auto;
}
</style>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} missive{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' original.pk|admin_urlquote %}">{{ original|truncatewords:"18" }}</a>
&rsaquo; {% trans "Registered Tasks" %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
<div class="module">
    <table id="change-history">
        <thead>
            <tr>
                <th scope="col">date_create</th>
                <th scope="col">register_type</th>
                <th scope="col">status</th>
                <th scope="col">period</th>
                <th scope="col">choice_day</th>
                <th scope="col">last_date_task</th>
                <th scope="col">test</th>
                <th scope="col">start</th>
             </tr>
        </thead>
        <tbody>
            {% for rt in registered_tasks %}
            <tr>
                <td><a href="{{ rt.admin_change_url }}">{{ rt.date_create }}</a></td>
                <td>{{ rt.register_type }}</td>
                <td>{{ rt.status }}</td>
                <td>{{ rt.period }}</td>
                <td>{{ rt.choice_day }}</td>
                <td>{{ rt.last_date_task }}</td>
                <td>{{ rt.is_enable_test }}</td>
                <td>{{ rt.how_start_task }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if registered_tasks.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ registered_tasks.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ registered_tasks.number }} of {{ registered_tasks.paginator.num_pages }}.
        </span>

        {% if registered_tasks.has_next %}
            <a href="?page={{ registered_tasks.next_page_number }}">next</a>
            <a href="?page={{ registered_tasks.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}



