<div class="ft-si-px18-rs lh-px25-rs bg-c-white ps-sticky tp-px0 z3">

    <div class="tools dp-flex omd-wt-ch mg-tp-px5-ch">
        <div class="dp-flex wt-ch mx-wt-px150-ch bd-wt-px0-ch bg-c-darkslateblue-ch c-white-ch bd-rd-px5-ch pgy-px5-ch mg-rg-px5-ch wt-pr90">
            <button class="previous-{{ opts.model_name }}">
                <i class="fas fa-chevron-left"></i><span class="md-dp-none">&nbsp;{{ mighty.previous }}</span>
            </button>
            <button class="next-{{ opts.model_name }}">
                <span class="md-dp-none">{{ mighty.next }}&nbsp;</span><i class="fas fa-chevron-right"></i>
            </button>
        </div>

        <div class="tx-al-right">
            <div class="ft-right dp-flex wh-sp-nowrap-ch tx-al-center">
                <div class="loader loader-{{ opts.model_name }} ht-px30 wt-px30 mg-auto"></div>
                <label class="c-white pg-lf-px5 va-middle-rs pg-rg-px5">
                    <input type="checkbox" class="on searchex-{{ opts.model_name }} dp-none">
                    <span class="lh-px25 dp-inline-block pg-px5 bd-rd-px5">
                        <i class="fas fa-equals"></i><span class="md-dp-none">&nbsp;exacte</span></span>
                </label>
                <label for="search-{{ opts.model_name }}" class="pgy-px5-ch  bg-c-darkslateblue bd-rd-px5 c-white-rs">
                    <input class="search-{{ opts.model_name }} mx-wt-pr80 bd-st-none bg-c-transparent" name="search" type="text">
                    <i class="fas fa-search tx-al-right"></i>
                </label>
            </div>
            <div class="cl-both"></div>
        </div>
    </div>

    <div class="shortcuts dp-flex wt-ch mx-wt-px150-ch pgy-px5-ch mgy-px5-ch mg-rg-px5-ch bd-rd-px5-ch c-white-rs">
        <a href="{{ fake.add_url }}" class="tx-dc-none tx-al-center bg-c-cornflowerblue">{{ title.add }}</a>
        <a href="{{ fake.export_url }}" class="tx-dc-none tx-al-center bg-c-cornflowerblue">{{ title.export }}</a>
    </div>

</div>
