[Unit]
Description={% if DESC %}{{DESC}}{% else %}Celery service{% endif %}
After=network.target

[Service]
{% if ENVFILE %}EnvironmentFile={{ENVFILE}}{% endif %}
{% if WORKINGDIRECTORY %}WorkingDirectory={{WORKINGDIRECTORY}}{% endif %}
{% if PIDFILE %}PIDFile={{PIDFILE}}{% endif %}
{% if USER %}User={{USER}}{% endif %}
{% if GROUP %}Group={{GROUP}}{% endif %}
Type=forking
ExecStart=/bin/sh -c '${CELERY_BIN} -A $CELERY_APP multi start $CELERY_NODES \
    --pidfile=${CELERY_PIDFILE} --logfile=${CELERY_LOGFILE} \
    --loglevel="${CELERY_LOGLEVEL}"'
ExecStop=/bin/sh -c '${CELERY_BIN} multi stopwait $CELERY_NODES \
    --pidfile=${CELERY_PIDFILE} --loglevel="${CELERY_LOGLEVEL}"'
ExecReload=/bin/sh -c '${CELERY_BIN} -A $CELERY_APP multi restart $CELERY_NODES \
    --pidfile=${CELERY_PIDFILE} --logfile=${CELERY_LOGFILE} \
    --loglevel="${CELERY_LOGLEVEL}"'
Restart=always

[Install]
WantedBy=multi-user.target
