[Unit]
Description=Gunicorn v2.easyshares.org
After=network.target

[Service]
EnvironmentFile=***TO FILL***
WorkingDirectory=***TO FILL***
PIDFile=${GUNICORN_PIDFILE}
User=easyshares
Group=webserver
Type=forking
ExecStart=${GUNICORN_BIN} \
            --bind ${GUNICORN_SOCK} \
            --env DJANGO_SETTINGS_MODULE=${GUNICORN_SETTINGS} \
            --pid ${GUNICORN_PIDFILE} \
            --log-file ${GUNICORN_LOG} \
            --workers ${GUNICORN_WORKERS} \
            --timeout ${GUNICORN_TIMEOUT} --graceful-timeout ${GUNICORN_GFTIMEOUT} \
            --keep-alive 5 ${GUNICORN_WSGI} --daemon
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target