{% load mighty %}
<div class="bg-c-cornflowerblue ft-si-px14">
    <nav class="omd-wt-pr80 mg-auto tx-dc-none-rs c-white-rs mn-ht-px50">
        <a class="ht-px50 lh-px50 ps-absolute" href="/"><img src="" class="mx-ht-px30 mgy-px10"></a>

        {% if request.user.is_authenticated %}
        <label for="input-nav-simple" class="omd-dp-none ht-px50 pgx-px10 lh-px50">
            <i class="lh-px50 pgx-px5 ft-right fas fa-bars"></i> 
        </label>
        <input id="input-nav-simple" class="dp-none md-dsc" type="checkbox">

        <div class="omd-dp-flex omd-ft-right tx-al-center">
            {% for label,models in applications.items %}
            <div class="nav-title tx-dc-none-rs omd-mn-wt-px150 md-wt-pr100 bg-c-darkslateblue-rs z5">
                <label for="input-nav-{{ label }}" class="lh-px50-ch md-dp-block omd-dp-flex tx-al-center pgx-px5 ">
                    <span class="wt-pr90">{{ label|title }}</span><i class="wt-pr10 fas fa-caret-down"></i>
                </label>
                <input id="input-nav-{{ label }}" class="dp-none dsc" type="checkbox">
                <div class="dp-block dp-block-rs omd-ps-absolute omd-mn-wt-px150 md-wt-pr100 z5">
                {% for model in models %}
                <a class="nav-title pgx-px5 pgy-px15 bg-c-cornflowerblue-hv" href="{{ model.list_url }}">{% verbose_name_plural model %}</a>
                {% endfor %}
                </div>
                <div class="cl-both"></div>
            </div>
            {% endfor %}
        </div>

        {% endif %}
        <div class="cl-both"></div>
    </nav>
    <div class="cl-both"></div>
</div>