{% extends "admin/change_form.html" %}
{% load admin_urls mighty %}

{% block extrastyle %}
{{ block.super }}
<style>
.disablelink {
    margin: 0 0 0 8px;
    background: coral!important;
}
.enablelink {
    margin: 0 0 0 8px;
    background: LimeGreen!important;
}
.submit-row {
    position: sticky;
    top: 0px;
    z-index: 10;
}
.inline-related {
    position: relative;
    margin: 20px 0;
    border: 1px solid #79aec8;
    overflow-x: scroll;
}
.anticipatelink {
    background-color: rgb(114, 139, 216)!important;
}
.anticipatelink:hover {
    background-color: royalblue!important;
}
.sourcelink {
    background-color: rgb(186, 79, 231)!important;
}
.sourcelink:hover {
    background-color: darkviolet!important;
}
</style>
{% endblock %}

{% block object-tools-items %}
{% if original.timeline_model %}
{% url opts|admin_urlname:'timeline' original content_type_id original.pk|admin_urlquote as timeline_url %}
<li><a href="{{ timeline_url }}">{% verbose_name_plural original.timeline_model %}</a></li>
{% endif %}
{% if original.source_model %}
{% url opts|admin_urlname:'source' original.pk|admin_urlquote as source_url %}
<li><a href="{{ source_url }}">{% verbose_name_plural original.source_model %}</a></li>
{% endif %}
{{ block.super }}
{% endblock %}