{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
<style>
  h2 { margin: 0; }
  .receiver { 
      background: #79aec8;
      text-align: left;
      padding: 5px 10px;  
      border: none;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      width: 80%;
      display: block;
      margin: 5px auto;
  }
  .receiver:hover { background: #417690; }
  .receiver > i { text-align: center; width: 50px; }
</style>
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
<p class="errornote">
{% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktrans %}
</p>
{% endif %}

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}

  <div class="form-row">
    <h2>Choices</h2>
    {% if form.emails_masking %}
    {% for email in form.emails_masking %}
    <button class="receiver" type="submit" name="receiver" value="email_{{ forloop.counter0 }}">
      <i class="fa fa-envelope" aria-hidden="true"></i>{{ email }}</button>
    {% endfor %}
    {% endif %}

    {% if form.phones_masking %}
    {% for phone in form.phones_masking %}
    <button class="receiver" type="submit" name="receiver" value="{{ mode_sms|lower }}_{{ forloop.counter0 }}">
      <i class="fa fa-mobile" aria-hidden="true"></i>{{ phone }}</button>
    {% endfor %}
    {% endif %}

    {% if form.basic_authorized %}
    <button class="receiver" type="submit" name="receiver" value="password">
      <i class="fa fa-keyboard" aria-hidden="true"></i>{{ send_basic }}</button>
    {% endif %}
  </div>


  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
</form>

</div>
{% endblock %}
