{% load admin_urls static mighty %}
<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <div class="readonly">{{ field.contents }}</div>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if original.timeline_model and field.field.name not in original.timeline_exclude %}
                        {% url opts|admin_urlname:'timeline_addfield' original|contenttype_id original.pk|admin_urlquote field.field.name as timeline_url %}
                        <a class="button timelinelink" href="{{ timeline_url }}">
                            <img src="{% static 'admin/img/icon-addlink.svg' %}">&nbsp;{% verbose_name original.timeline_model %}</a>
                    {% endif %}
                    {% if original.source_model and field.field.name not in original.source_exclude %}
                        {% url opts|admin_urlname:'source_choice' original|contenttype_id original.pk|admin_urlquote field.field.name as source_url %}
                        <a class="button sourcelink" href="{{ source_url }}">
                            <img src="{% static 'admin/img/icon-addlink.svg' %}">&nbsp;{% verbose_name original.source_model %}</a>
                    {% endif %}
                    {% if field.field.help_text %}
                        <div class="help">{{ field.field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>
