{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="description" content="">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static "css/easy.css" %}">
        {% block file_css %}{% endblock %}
        <style>{% block css %}{% endblock %}</style>
    </head>
    <body class="{% if request.user.style %}{{ request.user.style }}{% endif %}">
        {% block content %}{% endblock %}
        {% block file_js %}{% endblock %}
        <script>{% block js %}{% endblock %}</script>
    </body>
</html>
