{% extends "includes/base.html" %}

{% block content %}
<div class="login-wrap">
    <h2>{{ mighty.login }}</h2>
    <form class="form" method="post">{% csrf_token %}
        {% include "mighty/message.html" with message=message level="info" %}

        {% for error in form.non_field_errors %}
        {% include "mighty/message.html" with message=error level="alert" %}
        {% endfor %}

        <div class="form-row">
          {% if form.emails_masking %}
          <h2>Email</h2>
          {% for email in form.emails_masking %}
          <button class="receiver" type="submit" name="receiver" value="email_{{ forloop.counter0 }}">{{ email }}</button>
          {% endfor %}{% endif %}
        </div>
        <div class="form-row">
          {% if form.phones_masking %}
          <h2>Phone</h2>
          {% for phone in form.phones_masking %}
          <button class="receiver" type="submit" name="receiver" value="phone_{{ forloop.counter0 }}">{{ phone }}</button>
          {% endfor %}{% endif %}
        </div>
    </form>
    <div class="links">
        <a href="#"><p>{{ help }}</p></a>
    </div>
</div>
{% endblock %}

{% block js %}
function togglePassword() {
    var x = document.getElementById("myPassword");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
}
{% endblock %}