{% extends "includes/base.html" %}
{% load mighty static %}
{% block css %}

{% endblock %}

{% block content %}
<div class="login-wrap">
    <h2>{{ mighty.login }}</h2>
    <form class="form" method="post">{% csrf_token %}
        {% for error in form.non_field_errors %}
        {% include "message.html" with message=error level="alert" %}
        {% endfor %}

        {% for error in form.search.errors %}
        {% include "message.html" with message=error level="alert" %}
        {% endfor %}
        <input type="text" placeholder="{{ form.username.label }}" name="{{ form.username.name }}" />
        <div class="send">
            <button class="" type="submit">
                <i class="fas fa-keyboard">&nbsp;</i>{{ method_basic|title }}
            </button>
        </div>
    </form>
    <div class="links">
        <a href="/accounts/register/"><p>{{ help }}</p></a>
    </div>
</div>
{% endblock %}